<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = '../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [5]:
print(data[data.Year == 1996].groupby(by='Sex').Age.min())
# data.groupby(by='Sex').describe()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

So the answer is 14 and 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Consider only Gymnastics as a target sport. Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [6]:
# You code here 
is_male = (data.Sex == 'M')
is_gymnast = (data.Sport == 'Gymnastics')
year_2000 = (data.Year == 2000)
round(data[is_male & is_gymnast & year_2000].drop_duplicates('ID').shape[0]/\
data[is_male & year_2000].drop_duplicates('ID').shape[0]*100,1)

1.5

So the answer is 1.5%

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [7]:
is_female = data.Sex == 'F'
is_basketball = data.Sport == 'Basketball'
round(data[is_female & is_basketball & year_2000].drop_duplicates('ID')['Height'].apply([np.mean, np.std]),1)

mean    182.4
std       9.1
Name: Height, dtype: float64

So the answer is 182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [8]:
# You code here 
year_2002 = data.Year == 2002
max_weight_2002 = data[year_2002]['Weight'].max()
is_max_weight_2002 = data[year_2002]['Weight'] == max_weight_2002
data[year_2002 & is_max_weight_2002]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

So the answer is Bobsleigh

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [9]:
# You code here 
is_pawe = data['Name'] == 'Pawe Abratkiewicz'
data[is_pawe].drop_duplicates('Year')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN

__6. How many silver medals in tennis did sportspeople from the Australia team win at the 2000 Olympics? Count every medal from every sportsperson.__

- 0
- 1 
- 2 
- 3

In [10]:
# You code here
australian = data['Team'] == 'Australia'
silver = data['Medal'] == 'Silver'
is_tennis = data['Sport'] == 'Tennis'
data[australian & silver & year_2000 & is_tennis]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

So the answer is 2.

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [11]:
# You code here 
switz = data['Team'] == 'Switzerland'
serb = data['Team'] == 'Serbia'
year_2016 = data['Year'] == 2016
switz_medals = data[year_2016 & switz].Medal.dropna().shape[0]
serb_medals = data[year_2016 & serb].Medal.dropna().shape[0]
print('Number of medals that Switzerland won:', switz_medals)
print('Number of medals that Serbia won:', serb_medals)

Number of medals that Switzerland won: 11
Number of medals that Serbia won: 54

So the answer is 'Yes'

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [12]:
# You code here
age_cat = lambda x: 0 if x < 15 else (1 if x < 25 else (2 if x < 35 else (3 if x <=45 else (4 if x <= 55 else 5))))
data[data.Year == 2014]['Age'].apply(age_cat).value_counts()

2    2594
1    2027
3     266
4       4
Name: Age, dtype: int64

So the answer is '[45-55] and [15-25) correspondingly'

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [13]:
# You code here 
is_summer = data['Season'] == 'Summer'
is_winter = data['Season'] == 'Winter'
in_placid = data['City'] == 'Lake Placid'
in_moritz = data['City'] == 'Sankt Moritz'
print('Is it true that there were Summer Olympics held in Lake Placid?',
      (is_summer & in_placid).astype('int64').sum() != 0)
print('Is it true that there were Winter Olympics held in Sankt Moritz?',
      (is_winter & in_moritz).astype('int64').sum() != 0)

Is it true that there were Summer Olympics held in Lake Placid? False
Is it true that there were Winter Olympics held in Sankt Moritz? True

__10. What is the absolute difference between the number of unique sports at the 1996 Olympics and 2016 Olympics?__

- 3 
- 10
- 27
- 34

In [14]:
# You code here 
year_1996 = data['Year'] == 1996
year_2016 = data['Year'] == 2016
abs(data[year_1996].drop_duplicates('Sport').shape[0] - data[year_2016].drop_duplicates('Sport').shape[0])

3

There were 3 more sports at the 2016 Olympics that at the 1996 Olympics.

So the answer is 3.